.Text_settings {
    height: 80vh;
}

.Download_invitation {
    height: 8vh;
    line-height: 8vh;
}

.Button_container {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.Button_container button {
    width: 60%;
}

.Input_container {
    height: 4vh;
    line-height: 4vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    text-align: right;
}

.Input_container .Input {
    width: 50%;
    margin-left: 2%;
    line-height: normal;
    text-align: center;
    float: right;
}
