.Text_settings {
    height: 45vh;
}

.Input_container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    color: black;
}

.Name_container {
    width: 96%;
    height: 32vh;
    margin-left: 2%;
    margin-right: 2%;
}

.Style_settings {
    height: 39vh;
}

.Button_container {
    height: 6vh;
    line-height: 6vh;
}

.Button_container button {
    width: 60%;
}

