.Text_settings {
    height: 50vh;
}

.Input_container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    color: black;
}

.Textarea_container {
    width: 100%;
}

.Textarea_container textarea {
    width: 90%;
    height: 34vh;
}

.Style_settings {
    height: 34vh;
}

.Button_container {
    height: 6vh;
    line-height: 6vh;
}

.Button_container button {
    width: 60%;
}

