.Text_Settings > div {
    width: 50%;
    height: 4vh;
    float: left;
    display: flex;
    align-items: center;
    justify-content: end;
}

.Text_Settings > div > div {
    width: 90%;
}

.Text_Settings > div > button {
    width: 90%;
}
.Text_Settings > div > input {
    width: 86%;
}