.Text_Settings {
    height: 45vh;
    overflow-y: auto;
}
.Text_Settings > div {
    width: 100%;
}
.Text_Settings > div > div {
    width: 46%;
    height: 4vh;
    line-height: 4vh;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    text-align: right;  
}

.Text_Settings div div > div {
    text-align: center;
    line-height: normal;
}

.Text_Settings div div > button {
    width: 100%;
}

.Text_Settings div div > input {
    width: 96%;
}
.Text_Settings div .Part_Name {
    width: 96%;
    font-weight: bold;
    text-align: center;
}