.header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    float: left;
    width: 20vw;
    height: 90vh;
    overflow: auto;
}

#invitation_appearance {
    width: 60vw;
}

h1 {
    margin: 0px;
}