.header {
    height: 10vh;
    line-height: 10vh;
    text-align: center;
}

.header h1 {
    margin: 0px;
}

.invitation_editor {
    width: 100vw;
    height: 90vh;
}

.invitation_editor .column {
    float: left;
    width: 20vw;
    height: 90vh;
}

.invitation_editor .column:nth-child(2) {
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invitation_editor .column h3 {
    height: 3vh;
    margin: 0px;
}