.header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    float: left;
    width: 20vw;
    height: 90vh;
}

.column:nth-child(2) {
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column h3 {
    height: 3vh;
    margin: 0px;
}

h1 {
    margin: 0px;
}