.edit_template {
    width: 60vw;
    height: 90vh;
    position: absolute;
}

.edit_template .edit_template_body {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit_template .edit_template_body div .with {
    margin-top: 3vh;
}

.edit_template .edit_template_body div .without {
    margin-top: 0.2vh;
}

.edit_template .edit_template_body div div .input_row input  {
    width: 32vw;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    font-size: 11pt;
}

.edit_template .edit_template_body div div .input_row input:focus {
    outline: 0;
    outline-offset: 0;
}

.edit_template .edit_template_body div div .menu {
    width: 20vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    margin-left: 20vw;
    margin-right: 20vw;
    border-radius: 0.4vw;
    color: black;
    background-color: lightgray;
}

.edit_template .edit_template_body div div .menu input {
    margin-left: 0.4vw;
    margin-right: 0.4vw;
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;
}