.edit_template {
    width: 100vw;
    height: 100vh;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

.edit_template > div:nth-child(1) {
    width: 100vw;
    height: 65vh;
    padding-top: 25vh;
}

.edit_template > div:nth-child(1) input {
    width: 32vw;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 1vw;
    border: 0px;
    font-size: 11pt;
}

.edit_template > div:nth-child(1) input:focus {
    outline: 0;
    outline-offset: 0;
}

.edit_template > div:nth-child(2) {
    width: 100vw;
    height: 10vh;
    line-height: 10vh;
}

.edit_template > div:nth-child(2) button {
    margin-left: 1vw;
    margin-right: 1vw;
}