.edit_template {
    width: 60vw;
    height: 90vh;
    position: absolute;
    color: black;
}

.edit_template .edit_template_body {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit_template .edit_template_body div div .row .with {
    height: 60px;
    display: flex;
    align-items: end;
    justify-content: center;
}

.edit_template .edit_template_body div div .row div div span {
    font-family: 'Times New Roman', Times, serif;
}

.edit_template .edit_template_body div div .menu {
    width: 31vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    margin-left: 20vw;
    margin-right: 20vw;
    border-radius: 0.4vw;
    background-color: lightgray;
}

.edit_template .edit_template_body div div .menu .input {
    width: 29vw;
    text-align: center;
}

.edit_template .edit_template_body div div .menu input {
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;
}

.edit_template .edit_template_body div div .menu label {
    margin-right: 0.3vw;
}

.edit_template .edit_template_body div div .menu .button {
    width: 5vw;
}
